/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #a62425;
$titleFontColor: #a62425;
$bwcc-blue: #446084;
$bwcc-ltr-blue: #587dad;
$facebook-blue: #3a589d;

$form-button-color: white;
$form-button-bkg: #446084;
$form-button-hover-bkg: #1e73be; // lighter blue;
$form-button-hover-color: white;
// general stuff
blockquote.testimonials-text,
blockquote {
  font-size: 1.0em;
  line-height: 1.4em;
  p {
    //color: #a2a2a2;
    color: $bwcc-ltr-blue;
  }
}
.bcw-image-boxshadow {
  -webkit-box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.33);
  -moz-box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.33);
  box-shadow: 0px 0px 19px 0px rgba(50, 50, 50, 0.33);
}
